/* box-shadow: ejex ejey desenfoque cuantoborde color*/
/* border: style width color*/

* {
  margin: 0;
  padding: 0;
  font-family:sans-serif;
  box-sizing: content-box;
}

#little_nav {
  display: none;
}

.top {
  height: 100px;
  width: 100%;
  background-color: #eaf0f5;
  display: flex;
  align-items: center;
}

.title {
  font-size: 30px;
  margin-left: 15px;
}

.blue {
  color: #3c3cdf;
}

#links {
  margin-left: 5%;
}

#links a {
  font-size: 20px;
  margin-left: 50px;
}

#icons {
  margin-left: 10%;
}

#icons a {
  margin-left: 2px ;
}

@media only screen and (max-width: 992px) {
  #little_nav {
    display: block;
  }

  #big_nav {
    display: none;
  }

}

#btn {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 40px;
  transition-duration: 500ms;
}

#btn:active {
  outline: solid #3c3cdf 2px;

}

#menu {
  height: 140px;
  width: 100%;
  background-color: #eaf0f5;
  display: none;
}

#menu a{
  display: block;
  font-size: 20px;
  margin-left: 15px;
  margin-bottom: 5px;
}
