* {
  margin: 0;
  padding: 0;
  background-color:#d2dde0;
  box-sizing: content-box;
  font-family: 'Courier New', Courier, monospace;
}

#flexbox {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

/*-----------------Título, línea----------------*/
#flexbox h1 {
  margin-bottom: 5px;
  color:#092641;
}


#line {
  height: 5px;
  background-color: blue;
  width: 100px;
}
/*----------------------------------------------*/


#flexbox2 {
  background-color: #fff;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 450px;
  margin-left: 15%;
  overflow: hidden;
  box-sizing: content-box;
}

/*-----------------IMAGENES---------------------*/
#images {
  background-color: inherit;
}

#photo {
  border-radius: 100px;
  box-shadow: 10px -10px 0 0 #2290f7; /*ejex ejey desenfoque cuantoborde color*/
  margin-bottom: 10px;
  height: 200px;
}


/*----------------------------------------------*/

#flexbox2 p {
  background-color: inherit;
  margin-bottom: 5px;
}

#subcontext {
  color:#0660b4;
}

#context {
  width: 85%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#buttons {
  display: flex;
  background-color: inherit;
}

.btn {
  background-color: #fff;
  box-shadow: none;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.btn:active {
  outline: #0660b4 1px solid;
}
  

.right {
 position: relative;
 bottom: 1px;
}

#surprise {
  background-color: #fff;
  color:#0660b4;
  padding: 5px;
  border: #0660b4 2px solid;
  border-radius: 8px;
  box-shadow: 1px 1px 0 0 #053b6e;
}

#surprise:active {
  box-shadow: -1px -1px 0 0 #053b6e;
}
  

#relleno {
  height: 30px;
}